<launch>
    <arg name="model" default="$(find psi)/urdf/poseidon.urdf.xacro"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find psi)/rviz/urdf.rviz" />

    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <group ns="arduino_drive">
        <node pkg="rosserial_python" name="arduino_drive" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baud" value="57600"/>
        </node>
    </group>

    <group ns="psi">
        <node pkg="psi" name="drive_manager" type="drive_manager.py"/>
        <node pkg="psi" name="navigation" type="navigation.py"/>
        <node pkg="psi" name="arduino_sim" type="arduino_sim.py"/>
        <node pkg="psi" name="arm_manager" type="arm_manager.py"/>
        <node pkg="psi" name="battery_manager" type="battery_manager.py"/>
        <node pkg="psi" name="aqueous_manager" type="aqueous_manager.py"/>
        <node pkg="psi" name="core" type="core.py"/>
    </group>

    <!-- GUI Control -->
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/psi/diff_drive_controller/cmd_vel"/>
    </node>
</launch>
